:root {
    --bg: #FAFAFA;
    --card-bg: #fff;
    --card-border-color: rgba(0, 0, 0, .125);
    --color: #000;
    --header-bg: #2684E6;
    --header-color: #fff;
    --primary-btn-color: #fff;
    --primary-btn-bg: #2684E6;
    --badge-color: #fff;
    --badge-bg: var(--primary-btn-bg)
}

.wrapper {
    background: var(--bg);
    min-height: 100vh;
    color: var(--color);
}

.navbar {
    background-color: var(--header-bg);
}

.nav-link, .navbar-brand{
    color: var(--header-color) !important;
}

.nav-link:hover, .navbar-brand:hover{
    color: hsl(from var(--header-color) h s calc(l - 10)) !important;
}

.navbar .title {
    display: flex !important;
    align-items: center !important;
}

.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 25%));
    gap: 25px;
    justify-content: space-between;
    margin-top: 15px;
}

.cards-wrapper .card {
    background: var(--card-bg);
    border: 1px solid var(--card-border-color);
    border-radius: 16px;
}

.cards-wrapper .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards-wrapper .card .card-body .card-info {
    margin-bottom: 25px;
}

.cards-wrapper .card img {
    height: 250px;
    width: 80%;
    margin: auto;
    padding: 25px 0;
}

.specialization-preview {
    width: 100%;
    height: 150px;
    background-size: cover;
}

.specialization-image {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 0;
}

.bin {
    position: relative !important;
}

.badge {
    position: absolute !important;
    top: -10px !important;
    right: -15px;
    color: var(--badge-color) !important;
    background-color: var(--badge-bg) !important;
}

.justify-end {
    display: flex;
    justify-content: flex-end;
}

.card .form-group {
    margin-bottom: 25px;
}

.specialization-page img {
    width: 80%;
}

.btn-primary {
    background-color: var(--primary-btn-bg) !important;
    border-color: var(--primary-btn-bg) !important;
}

.btn-primary:hover {
    background-color: hsl(from var(--primary-btn-bg) h s calc(l - 10)) !important;
    border-color: hsl(from var(--primary-btn-bg) h s calc(l - 10)) !important;
}

.card-btns {
    display: flex;
    justify-content: center;
}

.card-btns .btn {
    width: 50%;
}