:root {
    --bg: #fff;
    --color: #000;

    --card-bg: #F9F9F9;
    --card-border-color: rgba(0, 0, 0, .125);

    --header-bg: #2684E6;
    --header-color: #fff;

    --primary-btn-bg: #2684E6;
    --primary-btn-bg--hover: hsl(from var(--primary-btn-bg) h s calc(l - 10));
    --primary-btn-border: #2684E6;
    --primary-btn-border--hover: hsl(from var(--primary-btn-border) h s calc(l - 10));
    --primary-btn-color: #fff;
    --primary-btn-color--hover: #fff;

    --add-btn-bg: #6c757d;
    --add-btn-bg--hover: hsl(from var(--add-btn-bg) h s calc(l - 10));
    --add-btn-border: #6c757d;
    --add-btn-border--hover: hsl(from var(--add-btn-border) h s calc(l - 10));
    --add-btn-color: #fff;
    --add-btn-color--hover: #fff;

    --bin-bg: #2684E6;
    --bin-bg--hover: hsl(from var(--bin-bg) h s calc(l - 10));
    --bin-border: #2684E6;
    --bin-border--hover: hsl(from var(--bin-border) h s calc(l - 10));
    --bin-color: #fff;
    --bin-color--hover: #fff;

    --badge-bg: #2684E6;
    --badge-bg--hover: hsl(from var(--badge-bg) h s calc(l - 10));
    --badge-color: #fff;
    --badge-color--hover: #fff;

    --search-bg: #2684E6;
    --search-bg--hover: hsl(from var(--search-bg) h s calc(l - 10));
    --search-border: #2684E6;
    --search-border--hover: hsl(from var(--search-border) h s calc(l - 10));
    --search-color: #fff;
    --search-color--hover: #fff;

    --return-bg: #2684E6;
    --return-bg--hover: hsl(from var(--return-bg) h s calc(l - 10));
    --return-border: #2684E6;
    --return-border--hover: hsl(from var(--return-border) h s calc(l - 10));
    --return-color: #fff;
    --return-color--hover: #fff;
}

.wrapper {
    background: var(--bg);
    min-height: 100vh;
    color: var(--color);
}

.navbar {
    background-color: var(--header-bg);
}

.nav-link, .navbar-brand{
    color: var(--header-color) !important;
}

.nav-link:hover, .navbar-brand:hover{
    color: hsl(from var(--header-color) h s calc(l - 10)) !important;
}

.navbar .title {
    display: flex !important;
    align-items: center !important;
}

.bin.btn.btn-primary {
    position: relative !important;
    background-color: var(--bin-bg) !important;
    border-color: var(--bin-border) !important;
    color: var(--bin-color) !important;
}

.bin.btn.btn-primary:hover  {
    background-color: var(--bin-bg--hover) !important;
    border-color: var(--bin-border--hover) !important;
    color: var(--bin-color--hover) !important;
}

.add-btn.btn-secondary {
    background-color: var(--add-btn-bg) !important;
    border-color: var(--add-btn-border) !important;
    color: var(--add-btn-color) !important;
}

.add-btn.btn-secondary:hover {
    background-color: var(--add-btn-bg--hover) !important;
    border-color: var(--add-btn-border--hover) !important;
    color: var(--add-btn-color--hover) !important;
}

.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 25%));
    gap: 25px;
    justify-content: space-between;
    margin-top: 15px;
}

.cards-wrapper .card {
    background: var(--card-bg);
    border: 1px solid var(--card-border-color);
    border-radius: 16px;
}

.cards-wrapper .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards-wrapper .card .card-body .card-info {
    margin-bottom: 25px;
}

.cards-wrapper .card img {
    height: 250px;
    width: 80%;
    margin: auto;
    padding: 25px 0;
}

.specialization-preview {
    width: 100%;
    height: 150px;
    background-size: cover;
}

.specialization-image {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 0;
}

.badge.bg-primary {
    position: absolute !important;
    top: -10px !important;
    right: -15px;
    color: var(--badge-color) !important;
    background-color: var(--badge-bg) !important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.bin.btn.btn-primary:hover .badge {
    background-color: var(--badge-bg--hover) !important;
    color: var(--badge-color--hover) !important;
}

.justify-end {
    display: flex;
    justify-content: flex-end;
}

.card .form-group {
    margin-bottom: 25px;
}

.specialization-page img {
    width: 80%;
}

.btn.btn-primary {
    background-color: var(--primary-btn-bg) !important;
    border-color: var(--primary-btn-border) !important;
    color: var(--primary-btn-color) !important;
}

.btn.btn-primary:hover {
    background-color: var(--primary-btn-bg--hover) !important;
    border-color: var(--primary-btn-border--hover) !important;
    color: var(--primary-btn-color--hover) !important;
}

.card-btns {
    display: flex;
    justify-content: center;
}

.delete-draft-applicant-btn {
    width: 150px;
}

.search-btn.btn.btn-primary {
    background-color: var(--search-bg) !important;
    border-color: var(--search-border) !important;
    color: var(--search-color) !important;
}

.search-btn.btn.btn-primary:hover {
    background-color: var(--search-bg--hover) !important;
    border-color: var(--search-border--hover) !important;
    color: var(--search-color--hover) !important;
}

.return-btn.btn.btn-primary {
    background-color: var(--return-bg) !important;
    border-color: var(--return-border) !important;
    color: var(--return-color) !important;
}

.return-btn.btn.btn-primary:hover {
    background-color: var(--return-bg--hover) !important;
    border-color: var(--return-border--hover) !important;
    color: var(--return-color--hover) !important;
}

.btn:focus {
    box-shadow: none !important;
}

.bin.btn.btn-secondary.disabled  {
    cursor: not-allowed !important;
    pointer-events: all !important;
}