{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="container">

        <h3  class="text-center">Черновая заявка</h3>

        <span>Статус: {{ order.status }}</span>
        <span>Дата создания: {{ order.date_created }}</span>

        <h4 class="text-center">Специальности</h4>

        <div class="cards-wrapper d-flex flex-column">

            {% for specialization in order.specializations %}

                {% include "specialization_card.html" %}

            {% endfor %}

        </div>

    </main>
{% endblock content %}