{% load static %}

{% if "http://localhost:8000/applicants/" in request.build_absolute_uri or "http://127.0.0.1:8000/applicants/" in request.build_absolute_uri %}
    <div class="card w-100 mb5">
         <div class="row g-0">
            <div class="col-md-6 d-flex justify-center">
                <img src="{{ specialization.image.url }}">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">{{ specialization.name }}</h5>
                    <p class="card-text">Проходной балл: {{ specialization.budget_passing_score }}</p>
                    <div class="form-group">
                        <label class="form-label">Приоритет</label>
                        <input placeholder="Введите приоритет" disabled type="number" class="form-control" style="width: 200px" value={{ specialization.value }}>
                    </div>
                    <a href="/specializations/{{ specialization.id }}/" class="btn btn-primary" style="width: 100px">
                        Открыть
                    </a>
                </div>
            </div>
         </div>
    </div>
{% else %}
    <div class="card">
        <img src="{{ specialization.image.url }}" class="specialization-preview" alt=""/>
        <div class="card-body" >
            <div class="card-info">
                <h5 class="card-title">{{ specialization.name }}</h5>
                <p class="card-text">Проходной балл: {{ specialization.budget_passing_score }}</p>
            </div>
            <div class="row card-btns">
                <div class="col d-flex justify-content-center flex-grow-1">
                    <a href="/specializations/{{ specialization.id }}" class="btn btn-primary">
                        Открыть
                    </a>
                </div>
                <form method="post" action="{% url 'add_specialization_to_draft_applicant' specialization.id %}" class="col d-flex justify-content-center">
                    {% csrf_token %}
                    <button class="add-btn btn btn-secondary" type="submit">
                        Добавить
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endif %}